.buttonStyle {
    overflow-y: scroll,
}

.cardBody {
    margin-top: 3.5rem;
    padding-left: 0 !important;
}

.hideOverflow {
    overflow-x: hidden;
}

.deleteMessage {
    text-align: center;
    display: block;
    margin-top: 2rem;
    font-size: 2vw;
    text-transform: uppercase;
}